/* General Styles */
body { 
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #313335;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Container */
.container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/* Services Section */
.services {
  flex: 3;
}

.service {
  background: #d4d5df;
  margin: 20px 0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(17, 4, 48, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.service:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.service h2 {
  color: #333;
}

.service p {
  text-align: center;
}

/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 20px;
  background: #110430;
  color: #fff;
  position: relative;
  flex-wrap: wrap; /* Permite que los elementos se ajusten en pantallas pequeñas */
}

/* Logo Container */
.logo-container {
  position: absolute;
  left: 20px;
  top: 50%; /* Centra el logo verticalmente */
  transform: translateY(-50%);
}

/* Logo Animation */
.main-image {
  max-width: 70px;
  border-radius: 50%;
  transition: transform 0.5s ease;
}

.main-image:hover {
  transform: rotate(360deg);
}

/* Header Title */
header h1 {
  margin: 0;
  font-size: 30px;
  text-align: center;
  flex: 1; /* Hace que el título ocupe el espacio restante */
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background: #170b42;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
}

footer div {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

footer a {
  text-decoration: none;
  font-size: 16px;
  color: #fff;
}

footer a:hover {
  color: #3b813d;
}

/* Form Styles */
.form-container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

form {
  background-color: #898eade3;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

form input, form button, form label {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

form button {
  background-color: #281763;
  color: #eeeef1;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

form button:hover {
  background-color: #3b813d;
}

.form-navigation {
  text-align: center;
}

/* Button Link */
.button-link {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

.button-link:hover {
  background-color: #45a049;
}

/* By Solipago */
.by-solipago {
  bottom: 10px;
  right: 10px;
  font-size: 14px;
  color: #aaa;
  text-align: right;
}

/* Responsive Styles */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }

  .logo-container {
    position: static;
    margin-bottom: 10px;
    transform: none;
  }

  .main-image {
    max-width: 60px;
  }

  header h1 {
    font-size: 24px;
  }

  .service {
    padding: 15px;
    margin: 15px 0;
  }

  form {
    padding: 20px;
  }

  footer div {
    flex-direction: column;
    gap: 10px;
  }
}
